[Unit]
Description=MediaGuard Celery Worker
After=network.target redis-server.service
Requires=redis-server.service

[Service]
Type=simple
User=shynka
Group=shynka
WorkingDirectory=/home/shynka/Projects/mediaguard-backend
Environment="PATH=/home/shynka/Projects/mediaguard-backend/.venv/bin"
EnvironmentFile=/home/shynka/Projects/mediaguard-backend/.env
ExecStart=/home/shynka/Projects/mediaguard-backend/.venv/bin/celery -A deepfake_backend worker -l info
Restart=on-failure
RestartSec=10
KillMode=mixed
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
